@import "styles/variables.css";
@import "styles/media.css";

.desktopButton {
    @media (--mobile) {
        display: none;
    }
}

.mobileButton {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 16px;
    @media (--desktop) {
        display: none;
    }
}

.modal {

}
.dialog {

}
.description {
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
}

.copyAndDropdown {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 16px;
    padding: 4px 0 4px 10px;
    border: 1px solid rgba(48, 52, 64, 0.07);
    border-radius: 4px;
}
.link {
    flex-grow: 1;
    min-width: 0;
    flex-basis: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-dark-gray);
}
.copy {
    flex-shrink: 0;
    margin-left: 7px;
}
.separator {
    margin-left: 8px;
    height: 28px;
    width: 1px;
    background-color: rgba(48, 52, 64, 0.07);
}
.dropdown {
    flex-shrink: 0;
}
.dropdownButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
    width: 170px;
    max-width: initial !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    outline: none;
}
.content {
    &:not(:empty) {
        margin-top: 24px;
    }
}
.invite {
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.checkUserName {
    flex-grow: 1;
    min-width: 0;
    flex-basis: 0;
    position: relative;
}
.inviteField {
    padding-bottom: 0;
}
.inviteButton {
    flex-shrink: 0;
    margin-left: 12px;
}
.checkUserMessage {
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 14px;
    line-height: 16px;
    transition: color .2s, opacity .2s;
    pointer-events: none;
    &:global(.success) {
        opacity: 1;
        color: var(--color-green);
    }
    &:global(.fail) {
        opacity: 1;
        color: var(--color-red);
    }
    &:global(.secondary) {
        opacity: 1;
        color: var(--color-light-gray);
    }
}
.users {
    margin-top: 12px;
}
.user {
    display: flex;
    align-items: center;
    &:nth-child(n+2) {
        margin-top: 8px;
    }
    &:global(.disabled) {
        .user-pic,
        .user-name {
            opacity: .4;
        }
    }
}
.userPic {
    flex-shrink: 0;
}
.userName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 6px;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-dark-gray);
}
.userDelete {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: var(--color-light-gray);
    cursor: pointer;
    transition: color .2s;
    &:hover {
        color: var(--color-dark-gray);
    }
}
.userMessage {
    margin-left: auto;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-light-gray);
}
.userMessageSuccess {
    color: var(--color-green);
}

