@import "styles/media.css";
@import "styles/variables.css";

:root {
    --field-normal-height: 50px;
    --field-middle-height: 40px;
    --field-small-height: 30px;
}

.field {
    position: relative;
    padding-bottom: 16px;
    &:global(.normal) {
        & .input {
            height: var(--field-normal-height);
        }
    }
    &:global(.middle) {
        & .input {
            height: var(--field-middle-height);
        }
    }
    &:global(.small) {
        .label {
            margin-bottom: 4px;
        }
        & .input {
            height: var(--field-small-height);
        }
    }
    &:global(.appearance-compact) {
        & .section {
            display: flex;
            align-items: center;
        }
        & .label {
            width: 100%;
        }
        & .input {
            flex-shrink: 0;
        }
        & .files {
            margin-left: 12px;
        }
        & .filesDropdown {
            margin-left: 12px;
        }
        & .file {
            margin-right: 12px;
        }
        & .fileBar {
            position: absolute;
            left: 0;
            right: 0;
            margin-top: 2px;
        }
        & .error {
            width: 100%;
        }
    }
    &:global(.appearance-normal) {
        & .input {
            .button {
                margin-left: 6px;
            }
        }
        & .files {
            margin-left: -8px;
            margin-right: -8px;
        }
        & .file {
            margin-top: 8px;
            margin-left: 8px;
            margin-right: 8px;
        }
        & .fileBar {
            margin-top: 6px;
        }
    }
    &:global(.disabled) {
        opacity: .5;
        & .input {
            pointer-events: none;
        }
    }
    &:global(.active) {
        & .input:not(:global(.error)) {
            border-color: var(--color-blue);
        }
    }
    & .input {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color-white);
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid var(--color-light-gray);
        border-radius: 4px;
        transition: border .2s;
        &:global(.error) {
            border-color: var(--color-red);
        }
        &:not(:global(.error)) {
            &:focus {
                border-color: var(--color-blue);
            }
        }
        &:global(.disabled) {
            opacity: .5;
            pointer-events: none;
        }
        & > input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 0;
            height: 0;
        }
        & .placeholder {
            font-size: 14px;
            line-height: 17px;
            color: var(--color-light-gray);
            text-align: center;
        }
        & .button {
            width: 110px;
            padding: 0 !important;
            white-space: nowrap;
            font-size: 14px;
            line-height: 17px;
            outline: none;
            color: var(--color-dark-gray);
        }
    }
}
.section {
    position: relative;
}
.label {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-dark-gray);
    opacity: .7;
}
.files {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    &:global(.hidden) {
        display: none;
    }
}
.filesDropdown {
    margin-left: 12px;
    &:global(.hidden) {
        display: none;
    }
}
.dropdownButton {
    position: relative;
    padding: 0 !important;
    white-space: nowrap;
    font-size: 14px;
    line-height: 17px;
    text-decoration: dotted;
    outline: none;
    &::before {
        content: "";
        position: absolute;
        top: calc(50% + 9px);
        left: 0;
        right: 0;
        border-top: 1px dotted;
    }
}
.dropdownItem {

}
.file {
    max-width: 100%;
    position: relative;
    margin-right: 12px;
    :not(.files) > & {
        padding: 3px 12px;
        &:nth-child(n+2) {
            margin-top: 4px;
        }
    }
}
.fileTop {
    display: flex;
    align-items: baseline;
    & > :global(.mdi-file) {
        flex-shrink: 0;
        font-size: 14px;
        line-height: 18px;
        color: var(--color-light-gray);
    }
    & .fileName {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-left: 2px;
        font-size: 14px;
        line-height: 18px;
        color: var(--color-dark-gray);
    }
    & .fileSize {
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 2px;
        font-size: 14px;
        line-height: 18px;
        color: var(--color-light-gray);
    }
    & .fileRemove {
        flex-shrink: 0;
        padding: 0;
        margin: 0;
        outline: none;
        cursor: pointer;
        background: none;
        border-radius: 0;
        border: none;
        box-shadow: none;
        width: 18px;
        height: 18px;

        color: var(--color-light-gray);
        transition: colro .3s ease-out;
        &:hover {
            color: var(--color-light-gray-hover);
        }
        & :global(.mdi) {
            font-size: 13px;
            line-height: 18px;
            height: 18px;
        }
    }
}
.fileBar {
    max-width: 130px;
    height: 6px;
    background: rgba(180, 184, 199, 0.4);
    border-radius: 10px;
    & .fileProgress {
        height: inherit;
        border-radius: inherit;
        background-color: #507CD0;
    }
}
.error {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--color-red);
    font-size: 12px;
    line-height: 14px;
}