@import "styles/variables.css";
@import "styles/media.css";
.dialog {
    padding-left: 40px;
    padding-right: 40px;
    width: 500px !important;
}
.title {
    font-size: 14px;
    line-height: 22px;
}

.fieldWrap {
    margin-top: 12px;
    position: relative;
}

.field {
    padding-bottom: 0 !important;
    & input {
        padding-right: 60px !important;
    }
}

.refresh {
    position: absolute;
    top: 50%;
    right: 36px;
    transform: translateY(-50%);
    line-height: 16px;
    color: var(--color-light-gray);
    transition: color .2s;
    cursor: pointer;
    &:hover {
        color: var(--color-light-blue);
    }
    & .icon {
        font-size: 14px;
    }
}

.copy {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
}


