@import "styles/variables.css";
@import "styles/media.css";

.views {
    display: grid;
    &.sidebar {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        grid-auto-rows: 50px;
    }
    &.main {
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 20px;
        grid-auto-rows: 50px;
    }
    & .cell {
        grid-column: span 2;
        grid-row: span 1;
        display: flex;
        flex-direction: column;
        &:not(.output, .input) {
            align-self: flex-end;
        }
        &.checkbox {
            min-height: 32px;
            justify-content: center;
        }
    }
    & .view {
        flex-grow: 1;
        min-height: 0;
        &.input {
            padding-bottom: 0;
        }
        &.select {
            padding-bottom: 0;
        }
        &.checkbox {
            padding-bottom: 0;
        }
        &.uploader {
            padding-bottom: 0;
        }
        &.slider {
            min-height: 32px;
        }
        &.apply {

        }
        &.uplodaer {

        }
        &.output {

        }
    }
}