@import "styles/variables.css";
@import "styles/media.css";

.views {
    display: grid;
    grid-auto-rows: minmax(32px, max-content);
    &.sidebar {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
    &.main {
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 20px;
        @media (max-width: 1280px) {
            grid-template-columns: repeat(6, 1fr);
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    & .cell {
        grid-column: span 2;
        grid-row: span 1;
        display: flex;
        flex-direction: column;
        &:not(.output, .input, .uploader) {
            align-self: flex-end;
        }
        &.uploader {

        }
        &.checkbox {
            min-height: 32px;
            justify-content: center;
        }
        &.output {

        }
    }
    & .view {
        &:not(.uploader) {
            flex-grow: 1;
            min-height: 0;
        }
        &.input {
            padding-bottom: 0;
        }
        &.select {
            padding-bottom: 0;
        }
        &.checkbox {
            padding-bottom: 0;
        }
        &.uploader {
            padding-bottom: 0;
        }
        &.slider {
            min-height: 32px;
        }
        &.apply {

        }
        &.output {

        }
    }
}