@import "styles/variables.css";
@import "styles/media.css";
.settings {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    flex-shrink: 0;
    color: var(--color-dark-gray);
    @media (--mobile) {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
    }
    @media (--desktop) {
        font-size: 24px;
        line-height: 28px;
    }
}
.tabs {
    position: relative;
    flex-shrink: 0;
    margin-top: 20px;
    @media (--mobile) {
        & a {
            &:nth-child(2) {
                display: none;
            }
        }
    }
}
.content {
    flex-grow: 1;
    min-height: 0;
    margin-top: -1px;
    border-radius: 0 4px 4px 4px;
    border: 1px solid rgb(233, 234, 238);
    @media (--mobile) {
        padding: 10px;
    }
    @media (--desktop) {
        padding: 20px;
    }
}
