@import "styles/variables.css";
@import "styles/media.css";
:root {
    --sidebar-width: 250px;
}
.details {
    position: relative;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    @media (--mobile) {
        padding-bottom: 20px;
    }
}
.backButton {
    max-width: fit-content;
}
.header {
    position: sticky;
    top: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 10px;
    background-color: var(--color-white);
    z-index: 1;
}
.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @media (--mobile) {
        font-size: 16px;
        line-height: 18px;
    }
    @media (--desktop) {
        font-size: 24px;
        line-height: 28px;
    }
    & :global(.mdi) {
        margin-left: 5px;
        opacity: .3;
    }
}
.permissions {
    margin-left: 10px;
}
.owner {
    margin-left: 10px;
}
.sideHeader {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 10px;
    height: 36px;
}
.progress {
    margin-right: 6px;
}
.progressStatus {
    margin-right: 6px;
    font-size: 14px;
    line-height: 15px;
    color: var(--color-light-gray);
}
.run {

}
.dropdown {
    &:not(:first-child) {
        margin-left: 12px;
    }
}
.description {
    flex-grow: 1;
    min-width: 0;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark-gray);
    @media (--mobile) {
        font-size: 13px;
        line-height: 20px;
    }
    @media (--desktop) {
        font-size: 14px;
        line-height: 20px;
    }
    &:global(.bold) {
        font-weight: 500;
        @media (--mobile) {
            font-size: 14px;
        }
        @media (--desktop) {
            font-size: 16px;
        }
    }
    & > *:nth-child(1) {
        margin-top: 0;
    }
    & p {
        text-align: left;
    }
}
.refreshMessage {
    margin-top: 10px;
}
.tabs {
    margin-top: 20px;
    flex-shrink: 0;
}
.tabs + .container {
    margin-top: -1px;
    border-radius: 4px 4px 4px 0;
    border: 1px solid rgb(233, 234, 238);
    @media (--mobile) {
        padding: 10px;
    }
    @media (--desktop) {
        padding: 20px;
    }
}
.container {
    flex-shrink: 0;
    margin-top: 10px;
    @media (--mobile) {
        &.withSidebar {
            & .views {
                margin-top: 20px;
            }
        }
    }
    @media (--desktop) {
        &.withSidebar {
            display: grid;
            grid-template-areas:
                "sidebar description"
                "sidebar content"
                "sidebar logs"
            ;
            grid-template-columns: var(--sidebar-width) 1fr;
            grid-column-gap: 30px;
        }
    }
}
.sidebar {
    grid-area: sidebar;
    padding: 12px 20px 20px;
    background-color: #F8F7F9;
}
.description {
    grid-area: description;
}
.description + .views {
    grid-area: content;
    margin-top: 20px;
}
.views {
    grid-area: description / content;
    min-width: 0;
}
.emptyMessage {
    min-width: 0;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    font-size: 13px;
    line-height: 16px;
    color: rgba(48, 52, 64, 0.6);
    text-align: center;
}
.error {
    min-width: 0;
    grid-area: content;
    &:nth-child(n+2) {
        margin-top: 30px;
    }
    .message {
        font-size: 14px;
        line-height: 17px;
        color: #AF4545;
    }

}
.logs {
    margin-top: 16px;
    grid-area: logs;
}
.readme {
    margin-top: 20px;
    flex-shrink: 0;
}
