@import "styles/variables.css";
@import "styles/media.css";
:root {

}

.progress {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    & .percent {
        grid-column: 1;
        grid-row: 1;
        font-size: 10px;
        line-height: 12px;
        color: var(--color-dark-gray);
        text-align: center;
    }
    & svg {
        grid-column: 1;
        grid-row: 1;
        transform: rotate(-90deg);
        & circle {
            &:global(.bar) {
                fill: none;
                stroke: var(--color-light-gray);
            }
            &:global(.progress) {
                fill: none;
                stroke: var(--color-blue);
                stroke-dasharray: 1000;
            }
        }
    }
}
