@import "styles/variables.css";
@import "styles/media.css";

.outputView {
    display: flex;
    flex-direction: column;
    & .label {
        flex-shrink: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 14px;
    }
    & .empty,
    & .view {
        flex-grow: 1;
        min-height: 0;
    }
    & .view {
       @media (--mobile) {
           margin-left: 0 !important;
           margin-right: 0 !important;
           padding-left: 0 !important;
           padding-right: 0 !important;
       }
    }
    & .empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & svg {
            flex-shrink: 0;
        }
        & .emptyLabel {
            margin-top: 14px;
            font-size: 16px;
            line-height: 20px;
            color: var(--color-mediun-gray);
        }
    }
}