@import "styles/variables.css";
@import "styles/media.css";

.sidebar {
    display: flex;
    flex-direction: column;
    @media (--mobile) {
        z-index: var(--sidebar-z-index);
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 217px;
        padding-top: 58px;
        padding-bottom: 20px;
        background-color: var(--color-white);
        box-shadow: 5px 0 20px rgba(0, 0, 0, .05);
        transition: transform .2s ease-in-out;
        &:not(:global(.show)) {
            transform: translateX(calc(-100% - 25px));
        }
        &:global(.show) {
            transform: translateX(0);
        }
    }
    @media (--desktop) {
        position: relative;
        z-index: 1;
        background-color: var(--color-translated-white);
        &:global(.compact) {
            .logo {
                margin-left: 11px;
                & a {
                    width: 38px;
                    transition-delay: .3s;
                }
                & img {
                    &:nth-child(1) {
                        opacity: 0;
                        transition-delay: 0s;
                    }
                    &:nth-child(2) {
                        opacity: 1;
                        transition-delay: 0s;
                    }
                }
            }
            .item {
                max-width: 20px;
                transition-delay: .3s;
                .icon {
                    &:before,
                    & > svg {
                        transform: scale(1);
                    }
                }
                & .labelWrap {
                    background: #FFFFFF;
                    border: 1px solid #F8F9FA;
                    transition-delay: 0s;
                }
                &:not(:hover) {
                    & .labelWrap {
                        opacity: 0;
                        pointer-events: none;
                    }
                }
            }
            .bottomSection {
                min-height: 56px;
                margin-left: 17px;
            }
            .userDropdown {
                max-width: 28px;
            }
            .userName {
                opacity: 0;
                pointer-events: none;
                transition-delay: 0s;
            }
            .collapse {
                & .icon {
                    transform: scale(-1);
                }
            }
        }
    }
}
.close {
    position: absolute;
    top: 12px;
    left: 20px;
    width: 22px;
    height: 22px;
    font-size: 20px;
    text-align: center;
    color: var(--color-light-gray);
    @media (--desktop) {
        display: none;
    }
}
.logo {
    margin-top: 20px;
    margin-left: 20px;
    transition: opacity .3s ease, margin-left .6s ease-out;
    &:hover {
        opacity: .7;
    }
    @media (--mobile) {
        display: none;
    }
    & a {
        display: block;
        width: 129px;
        position: relative;
        transition: width .3s ease-out;
        overflow: hidden;
    }
    & img {
        vertical-align: bottom;
        transition: opacity .3s .3s ease-out;
        &:nth-child(2) {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity .0s .6s ease-out;
        }
    }
}
.links {
    @media (--mobile) {
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (--desktop) {
        padding: 0;
        margin-bottom: 30px;
        margin-top: 10px;
    }
}
.itemSeparator {
    list-style: none;
    @media (--mobile) {
        margin-top: 36px;
    }
    @media (--desktop) {
        margin-top: 44px;
    }
}
.item {
    list-style: none;
    transition: max-width .3s ease-out;
    &:nth-child(n+2) {
        @media (--mobile) {
            margin-top: 18px;
        }
    }
    a {
        position: relative;
        display: flex;
        align-items: center;
        color: var(--color-dark-gray);
        @media (--desktop) {
            padding-left: 20px;
            padding-right: 20px;
            height: 42px;
            &:not(:global(.active)) {
                & .icon {
                    opacity: .3;
                }
                & .label {
                    opacity: .8;
                }
            }
            &:hover {
                color: var(--color-dark-gray);
                & .icon {
                    opacity: 1;
                }
                & .label {
                    opacity: 1;
                    transition-delay: 0s;
                }
            }
            &:global(.active) {
                & .icon {
                    opacity: 1;
                }
                & .label {
                    font-weight: 500;
                    opacity: 1;
                }
            }
        }
        & .icon {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            flex-shrink: 0;
            font-size: 20px;
            height: 20px;
            width: 20px;
            transition: opacity .3s ease-out;
            & > svg {
                width: 16px;
                height: 16px;
            }
            @media (--desktop) {
                &:before,
                & > svg {
                    transform: scale(.8);
                    transition: transform .6s ease-out;
                }
            }
        }
        & .labelWrap {
            display: flex;
            align-items: center;
            @media (--desktop) {
                position: absolute;
                top: 0;
                left: 0;
                height: inherit;
                min-width: 100%;
                padding-left: 40px;
                padding-right: 40px;
                box-sizing: border-box;
                transition: opacity .3s .3s ease-out;
            }
        }
        & .count {
            color: #B4B8C7;
            opacity: 0.8;
            margin-left: 4px;
            font-size: 12px;
        }
        & .label {
            margin-left: 6px;
            white-space: nowrap;
            font-size: 14px;
            line-height: 16px;
        }
        & .sub {
            font-size: 12px;
            line-height: 12px;
            padding-left: 4px;
        }
    }
}
.userDropdown {

}
.user {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.avatar {
    flex-shrink: 0;
    cursor: pointer;
}
.userName {
    margin-left: 6px;
    font-size: 14px;
    line-height: 17px;
    transition: opacity .3s .3s ease-out;
}
.bottomSection {
    position: relative;
    min-height: 28px;
    margin: auto 0 22px 20px;
    transition: min-height .6s ease-out, margin .6s ease-out;
    @media (--mobile) {
        margin-bottom: 0;
    }
}
.collapse {
    position: absolute;
    bottom: 4px;
    right: 20px;
    color: var(--color-light-gray);
    transition: color .3s ease-out;
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    @media (--mobile) {
        display: none;
    }
    &:hover {
        color: var(--color-light-gray-hover);
    }
    & .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        font-size: 14px;
        width: 20px;
        height: 20px;
        transition: transform .6s ease-out;
    }
}
