name: Build

on:
  push:
    branches:
      - 'master'
  create:
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'master'

jobs:
  build-website:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install packages
        working-directory: website
        run: npm install
      - name: Build website
        working-directory: website
        run: npm run build
      - name: Upload website dist
        uses: actions/upload-artifact@v1
        with:
          name: website-dist
          path: website/build

  test-py:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
        python-version: [ 3.6, 3.7, 3.8, 3.9 ]
    defaults:
      run:
        working-directory: ./dstack-py

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Test with unittest
        run: |
          python -m unittest discover tests

  build-server:
    needs: build-website
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Download website dist
        uses: actions/download-artifact@v1
        with:
          name: website-dist
      - name: Copy website dist
        run: |
          mkdir server-local-cli/src/main/resources/website
          cp -a website-dist/** server-local-cli/src/main/resources/website
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build

  publish-docker-snaphost:
    needs: publish-server-snapshot
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    steps:
      - uses: actions/checkout@v2
      - name: Grant execute permission to build scripts
        run: |
          chmod +x docker/base-image/variables.sh
          chmod +x docker/base-image/build.sh 
          chmod +x docker/base-image/publish.sh
      - name: Build base image
        run: docker/base-image/build.sh
      - name: Publish base image
        run: docker/base-image/publish.sh
        env:
          TIMESTAMP: ${{needs.publish-server-snapshot.outputs.timestamp}}
          DOCKER_PASS: ${{ secrets.DOCKERHUB_PASSWORD }}

  apply-cloud-snaphost:
    needs: [ publish-server-snapshot, publish-docker-snaphost ]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    steps:
      - uses: actions/checkout@v2
      - name: "Terraform Init"
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.20
          tf_actions_working_dir: 'terraform/applications/cloud/stgn'
          tf_actions_subcommand: "init"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: "Terraform Apply"
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: 0.12.20
          tf_actions_working_dir: 'terraform/applications/cloud/stgn'
          tf_actions_subcommand: "apply"
          args: '-var="image_tag=${{needs.publish-server-snapshot.outputs.timestamp}}" -var="smtp_host=${{ secrets.DSTACK_SMTP_HOST }}" -var="smtp_port=${{ secrets.DSTACK_SMTP_PORT }}" -var="smtp_user=${{ secrets.DSTACK_SMTP_USER }}"  -var="smtp_password=${{ secrets.DSTACK_SMTP_PASSWORD }}"  -var="smtp_from=${{ secrets.DSTACK_SMTP_FROM }}" '
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  publish-docker-release:
    needs: publish-server-release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - uses: actions/checkout@v2
      - name: Grant execute permission to build scripts
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          chmod +x docker/base-image/variables.sh
          chmod +x docker/base-image/release.sh
      - name: Release base image
        run: docker/base-image/release.sh
        env:
          DOCKER_PASS: ${{ secrets.DOCKERHUB_PASSWORD }}

  publish-server-snapshot:
    needs: build-server
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    outputs:
      timestamp: ${{ steps.build.outputs.timestamp }}
      dstack_version: ${{ steps.build.outputs.dstack_version }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Download website dist
        uses: actions/download-artifact@v1
        with:
          name: website-dist
      - name: Copy website dist
        run: |
          mkdir server-local-cli/src/main/resources/website
          cp -a website-dist/** server-local-cli/src/main/resources/website
      - name: Build with Gradle
        id: build
        run: |
          TIMESTAMP=$(date +%Y%m%d%H%M%S)
          VERSION=$(./gradlew properties -no-daemon --console=plain -q | grep "^version:" | awk '{printf $2}')
          SNAPSHOT_VERSION=$(echo $VERSION | awk '{p=index($1,"-");printf substr($1,0,p-1)}')
          DSTACK_VERSION="${SNAPSHOT_VERSION}.dev${TIMESTAMP}"
          ./gradlew -Pdstack_version=$DSTACK_VERSION build
          echo "::set-output name=timestamp::$(echo $TIMESTAMP)"
          echo "::set-output name=dstack_version::$(echo $DSTACK_VERSION)"
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Publish with dstack
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml
          pip install requests
          pip install tqdm
          pip install deprecation
          pip install dstack
          dstack config add --user dstack --token ${{ secrets.DSTACK_TOKEN_STGN }} --server https://api.stgn.dstack.ai
          DSTACK_VERSION=${{ steps.build.outputs.dstack_version }}
          python -c "from dstack import push_frame; from dstack.cli.installer import Installer; from pathlib import Path; print(push_frame(Installer._STACK, Path('server-local-cli/build/libs/server-local-cli-$DSTACK_VERSION.jar'), version='$DSTACK_VERSION', jdk_version='8', jdk_compatible_versions='1.8.0_.*'))"

  publish-server-release:
    needs: build-server
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Download website dist
        uses: actions/download-artifact@v1
        with:
          name: website-dist
      - name: Copy website dist
        run: |
          mkdir server-local-cli/src/main/resources/website
          cp -a website-dist/** server-local-cli/src/main/resources/website
      - name: Build with Gradle
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          ./gradlew -Pdstack_version=$VERSION clean build
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Publish with dstack
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml
          pip install requests
          pip install tqdm
          pip install deprecation
          pip install dstack
          dstack config add --user dstack --token ${{ secrets.DSTACK_TOKEN_PROD }}
          VERSION=${GITHUB_REF#refs/tags/v}
          python -c "from dstack import push_frame; from dstack.cli.installer import Installer; from pathlib import Path; print(push_frame(Installer._STACK, Path('server-local-cli/build/libs/server-local-cli-$VERSION.jar'), version='$VERSION', jdk_version='8', jdk_compatible_versions='1.8.0_.*'))"